section {
    min-height: 76.4vh;
}

.novoProjeto_container h1{ 
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.novoProjeto_container span{
    background-color: #222;
    padding: 0 0.2em;
    font-weight: bold;
    color: #ffBB33;
}

.novoProjeto_container p{ 
    color: #7b7b7b;
}
